<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OlvidarContraseña</title>
    <link rel="icon" href="img/logo-sena.png" />
    <link rel="stylesheet" href="../css/changedPassword.css" />
  </head>

  <body>
    <div class="container">
      <div class="claro">
        <!-- FONDO -->

        <div class="fondo2" id="fondo2">
          <div class="ventana">
            <!-- VENTANA CODIGO -->
            <div class="header">
              <h3 class="text_information">
                Digita el codigo que te llego al correo; para restablecer tu
                contraseña.
              </h3>
            </div>
            <div class="body">
              <input type="number" id="codigo"  placeholder="" />
              <a onclick="againOTP();" class="again">Volver a enviar el codigo</a>
            </div>
            <div class="footer">
              <button class="btn-codigo" id="btn-codigo" onclick="checkOTP();">
                Verificar
              </button>
            </div>
          </div>
          <!-- Cierre ventana -->
        </div>

        <div class="caja">
          <!-- CONTENEDOR -->

          <h1>Restablecer Contraseña</h1>

          <div class="contariner_password_input">
            <span>Nueva Contraseña:</span>
            <input
              type="password"
              name="new-password"
              id="new-password"
              placeholder="Nueva Contraseña"
            />

            <span>Vueleve a escribir la nueva contraseña:</span>
            <input
              type="password"
              name="again-new-password"
              id="again-new-password"
              placeholder="Confirmar Nueva Contraseña"
            />
          </div>
          <!-- Cierre contendor -->
          <div class="conten_btn">
            <button class="btn-cambiar" onclick="recoverPassword();">
              Cambiar
            </button>
          </div>
        </div>
        <!-- Cierre Login -->


        <div class="container_loading" id="container_loading">  <!-- LOADING -->
          <svg viewBox="25 25 50 50" id="loading">
            <circle r="20" cy="50" cx="50"></circle>
          </svg>
        </div> <!-- Cierre del Loading -->

      </div>
      <!-- Cierre Claro -->

      <!-- PIE DE PAGINA -->
      <div class="contenido_pagina">
        <ul>
          <li><a href="/about" target="_blank" rel="">Acerca de Nosotros</a></li>
          <li><a href="/contact" target="_blank" rel="">Contacto</a></li>
          <li><a href="/" target="_blank" rel="">Privacidad</a></li>
        </ul>
      </div>
    </div>
    <!-- Cierre Container -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/changedPassword.js"></script>
  </body>
</html>
