<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/dashAdmin.css">
</head>

<body>

    <div class="container_principal"> <!-- CONTENDEDOR -->

        <!-- MENU DEL RESPONSIVE -->
        <div class="menu">
            <i class='bx bx-menu'></i>
            <i class='bx bx-x-circle'></i>
        </div>

        <!-- FORO USUARIO RESPONSIVE -->
        <div class="foto_usuario2"></div>

        <!-- SELECION DEL NORMAL (PRINCIPAL) -->
        <div class="eleccion_usuario2">
            <!-- <i class='bx bx-edit'></i> -->
            <button class="editar_perfil" id="editar_perfil">Editar Perfil</button>
            <div class="linea2"></div>
            <!-- <i class='bx bx-exit'></i> -->
            <button class="cerrarsesion" id="cerrar_sesion">Cerrar Sesion</button>
        </div>

        <!-- SELECION DEL RESPONSIVE -->
        <div class="eleccion_usuario">
            <button class="editar_perfil" id="editar_perfil">Editar Perfil</button>
            <div class="linea2"></div>
            <button class="cerrarsesion" id="cerrar_sesion">Cerrar Sesion</button>
        </div>


        <div class="barra-lateral "> <!-- BARRA LATERAL -->

            <div class="nombre-pagina">
                <i class='bx bxs-wrench' id="menu-icon"></i>
                <span>Tool Inventory</span>
            </div>


            <nav class="navegacion"><!-- CONTENEDOR LISTA -->
                <ul>
                    <li>
                        <a href="./principalAdmin.html">
                            <i class="bx bx-home-alt "></i> <!--icono-->
                            <span>Pagina Principal</span> <!--Nombre-->
                        </a>
                    </li>
                    <li>
                        <a href="./inventarioAdmin.html">
                            <i class='bx bxs-purchase-tag '></i> <!--icono-->
                            <span>Inventario</span> <!--Nombre-->
                        </a>
                    </li>

                    <li>
                        <a href="./gestionarCuentasAdmin.html">
                            <i class='bx bxs-group '></i> <!--icono-->
                            <span>Gestionar Cuentas</span> <!--Nombre-->
                        </a>
                    </li>

                    <li>
                        <a href="#"> <!--Link-->
                            <i class='bx bxs-folder-open '></i><!--icono-->
                            <span>Reportes</span> <!--Nombre-->
                        </a>
                    </li>

                    <li>
                        <a href="#"> <!--Link-->
                            <i class='bx bx-conversation '></i><!--icono-->
                            <span>Chat</span> <!--Nombre-->
                        </a>
                    </li>

                    <li>
                        <a href="#"> <!--Link-->
                            <i class="bx bx-bell "></i><!--icono-->
                            <span>Notificaciones</span> <!--Nombre-->
                        </a>
                    </li>

                    <div class="linea"></div>

                    <li>
                        <a href="#"> <!--Link-->
                            <i class='bx bx-cog icon'></i><!--icono-->
                            <span>Ajustes</span> <!--Nombre-->
                        </a>
                    </li>

                </ul>
            </nav> <!-- Cierre del contenedor Lista -->


        </div> <!-- Cierre Barra Lateral -->


        <div class="contenedor_contenido" id="contenedor_contenido">
            <!-- LADO DERECHO DONDE ESTA LA BARRA DE ARRIBA Y EL CONTENIDO -->
            <div class="barra_usuario" id="barra_usuario"> <!-- BARRA DE ARRIBA  -->

                <div class="logo_sena"></div>
                <div class="contenedor_nombre">
                    <p>ADMINISTRADOR</p>
                </div>
                <div class="foto_usuario"></div>

            </div> <!-- Cierre de barra de arriba  -->

            <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

                <div class="container_avisos_previos"> <!-- Contenedor de avisos prinicplaes -->

                    <div class="alert primary">
                        <div class="number">08</div>
                        <p class="texto">Cantidad de Pedidos</p>
                    </div>

                    <div class="alert secondary">
                        <div class="number">08</div>
                        <p class="texto">Cantidad de Reportes</p>
                    </div>

                    <div class="alert third">
                        <div class="number">08</div>
                        <p class="texto">Cantidad de Notificaciones</p>
                    </div>

                </div> <!-- Cierre del contenedor de avisos principales -->

                <div class="list-group"> <!-- Contenedor de las actualizaciones -->

                    <div class="list-title">
                        Actualizaciones
                    </div><!-- Contenedor del titulo -->

                    <a href="#" class="list-item">
                        <div class="content-between">
                            <h5 class="contexto_title">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="contexto">Some placeholder content in a paragraph.</p>
                    </a> <!-- Cada actualizacion -->

                    <a href="#" class="list-item">
                        <div class="content-between">
                            <h5 class="contexto_title">List group item heading</h5>
                            <small>3 days ago</small>
                        </div>
                        <p class="contexto">Some placeholder content in a paragraph.</p>
                    </a><!-- Cada actualizacion -->

                </div>


            </div><!-- Cierre del Contenedor contenido-->

        </div> <!-- Cierre de lado derecho -->


    </div> <!-- Cierre del contenedor -->

    <script src="../js/dashAdmin.js"></script>

</body>

</html>