<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/showToolAdmin.css">
</head>

<body>
  
    <%- include('partials/partials.menu.head.ejs') %>
        
            <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

                <div class="contenedor_herramienta"> <!-- Contenedor para visualizar la herramienta -->
                    <div class="contendor_imagen_herramienta"> <!-- Contenedor Izquierda, btn, imagen y nombre -->
                        <div class="btn">
                            <a class="btn-close" href="./inventarioAdmin">
                                <i class='bx bx-exit'></i>
                            </a>
                        </div>
                        <div class="imagen">
                            <img src="../img/prensatela.jpg" alt="">
                        </div>
                        <div class="titulo">
                            Prensatela Para Cremallera
                        </div>
                    </div> <!-- Cierre del contenedor de la parte Izquierda, btn, imagen y nombre -->

                    <div class="contenedor_texto"> <!-- Contenedor Derecha, descripcion, referencia y btn-editar -->
                        <div class="texto1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magnam ducimus eveniet quos
                            facilis obcaecati reprehenderit laudantium omnis explicabo temporibus.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, temporibus.
                        </div>
                        <div class="texto2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ut!
                        </div>
                        <div class="contenedor_boton_edit">
                            <button class="btn-edit" id="btn-edit">Editar</button>
                        </div>
                    </div> <!-- Cierre contenedor Derecha, descripcion, referencia y btn-editar -->

                </div> <!-- Cierre del contenedor para visualizar la herramienta -->


            </div><!-- Cierre del Contenedor contenido-->

        </div> <!-- Cierre de lado derecho -->


    </div> <!-- Cierre del contenedor -->


    <script src="../js/showToolAdmin.js"></script>

</body>

</html>