<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OlvidarContraseña</title>
    <link rel="icon" href="img/logo-sena.png">
    <link rel="stylesheet" href="../css/changedPassword.css">
</head>

<body>

    <div class="container">
        <div class="claro"><!-- FONDO -->

            <div class="caja"><!-- CONTENEDOR -->
                <div class="titulo_password">
                    <h1>Digite el correo, para enviar el codigo de verificacion:</h1>
                </div>
                <div class="contariner_password_input">
                    <input type="email" id="email" placeholder="Ingrese el correo aqui!">
        
                </div>
                <div class="container_btn">
                    <button class="btn-cambiar">Enviar</button>
                </div><!-- Cierre contendor -->


            </div><!-- Cierre Login -->

        </div><!-- Cierre Claro -->

        <!-- PIE DE PAGINA -->
        <div class="contenido_pagina">
            <ul>
                <li><a href="#" target="_blank" rel="">Acerca de Nosotros</a></li>
                <li><a href="#" target="_blank" rel="">Contacto</a></li>
                <li><a href="#" target="_blank" rel="">Privacidad</a></li>
            </ul>
        </div>


    </div> <!-- Cierre Container -->

    <script src="../js/changedPassword.js"></script>

</body>

</html>