<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OlvidarContraseña</title>
    <link rel="icon" href="img/logo-sena.png" />
    <link rel="stylesheet" href="../css/emailChangedPassword.css" />
  </head>

  <body>
    <div class="container">
      <div class="claro">
        <!-- FONDO -->

        <div class="caja">
          <!-- CONTENEDOR -->

          <h1>
            Digita Tu correo para recibir tu codigo, y restablcer tu contraseña.
          </h1>

          <div class="contariner_password_input">
            <span>Correo Electronico:</span>
            <input type="email" id="email" placeholder="Correo electronico" />
          </div>
          <!-- Cierre contendor -->
          <div class="conten_btn">
            <button
              class="btn-cambiar"
              id="btn-sendEmail"
              onclick="sendEmail();">
              Enviar
            </button>
          </div>
        </div>
        <!-- Cierre Login -->
      </div>
      <!-- Cierre Claro -->

      <!-- PIE DE PAGINA -->
      <div class="contenido_pagina">
        <ul>
          <li><a href="#" target="_blank" rel="">Acerca de Nosotros</a></li>
          <li><a href="#" target="_blank" rel="">Contacto</a></li>
          <li><a href="#" target="_blank" rel="">Privacidad</a></li>
        </ul>
      </div>
    </div>
    <input type="hidden" id="url" value="<%= url %>" />
    <!-- Cierre Container -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/emailChangedPassword.js"></script>
  </body>
</html>
