@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color-BLUE: rgb(121, 172, 250);

  --tran-05: all 0.4s ease;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* si defines un ancho de 100px para un elemento y luego le agregas 
    10px de relleno y 5px de borde, el tamaño total será de 115px.
    cuando utilizas box-sizing: border-box;, le estás diciendo al navegador que incluya el relleno 
    y el borde en el tamaño total que especificaste inicialmente.  */
}

.container_principal {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  /* background-color: greenyellow; */
}

/* MENU RESPONSIVE CELULAR */
.menu {
  width: 50px;
  height: 50px;
  background-color: rgb(121, 172, 250);
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  position: fixed;
  cursor: pointer;
  right: 15px;
  top: 15px;
}

/* FOTO USUARIO RESPONSIVE CELULAR */
.foto_usuario2 {
  width: 50px;
  height: 50px;
  background-color: rgb(127, 197, 255);
  border: 2px solid rgb(127, 197, 255);
  background-size: cover;
  background-image: url(../img/foto-perfil1.jpg);
  border-radius: 100%;
  display: none;
  position: fixed;
  cursor: pointer;
  right: 15px;
  top: 80px;
}

/* EDITAR PERFIL NORMAL */
.eleccion_usuario2 {
  width: 250px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(189, 188, 188);
  flex-direction: column;
  padding: 10px;
  display: none;
  position: absolute;
  right: 15px;
  top: 65px;
}

.eleccion_usuario2 > button {
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  /* margin-bottom: 5px; */
  font-size: 18px;
  color: rgb(90, 90, 90);
}

.eleccion_usuario2 > button:hover {
  background-color: rgb(207, 207, 207);
  color: black;
}

/* EDITAR PERFIL EN EL RESPONSIVE*/
.eleccion_usuario {
  width: 250px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(189, 188, 188);
  flex-direction: column;
  padding: 10px;
  display: none;
  position: absolute;
  right: 15px;
  top: 140px;
}

.eleccion_usuario > button {
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  /* margin-bottom: 5px; */
  font-size: 18px;
  color: rgb(90, 90, 90);
}

.linea2 {
  width: 100%;
  height: 1px;
  background-color: rgb(107, 107, 107);
  margin: 8px 0px;
}

.eleccion_usuario > button:hover {
  background-color: rgb(207, 207, 207);
  color: black;
}

/* BARRA LATERAL */
.barra-lateral {
  width: 250px;
  height: 100%;
  position: fixed;
  overflow: hidden;
  background-color: rgb(121, 172, 250);
  padding: 20px 15px;
  transition: width 0.5s ease, left 0.5s ease;
}

/* NUEVA ESTO ES EL TAMAÑO CUANDO SE CIERRE EL MENU */
.mini-barra-lateral {
  width: 80px;
}

/* (span) agregarle estilo a los span de la pagina */
.barra-lateral span {
  width: 100px;
  font-size: 18px;
  color: white;
  text-align: left;
  white-space: nowrap;
  /* se utiliza para indicar que el texto dentro de un elemento 
    HTML no debe ser dividido en varias líneas cuando se encuentre 
    con límites de contenedor, sino que debe permanecer en una sola línea. */
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
}

/* NUEVA (.oculto) es una clase nueva que se le va agregar al span para que se desaparesca */
.barra-lateral span.oculto {
  opacity: 0;
  width: 0;
}

/* (.nombre-pagina) Contendro del nombre de la pagina y icono */
.barra-lateral .nombre-pagina {
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* (i) le da tamaño al icono y su contenedor propio */
.barra-lateral .nombre-pagina i {
  min-width: 50px;
  /* esta propiedad garantiza que el ancho del elemento nunca sea menor que el valor 
    especificado, incluso si el contenido o las propiedades de diseño podrían hacer 
    que el elemento sea más estrecho. */
  font-size: 40px;
  color: white;
  cursor: pointer;
  padding-left: 3px;
}

/* (span) agregarle estilo al nombre de la pagina */
.barra-lateral .nombre-pagina span {
  font-size: 25px;
  margin-left: 5px;
}

/* MENU NAVEGACION */
/* (li) */
.barra-lateral .navegacion li {
  list-style: none;
  display: flex;
  margin-bottom: 5px;
}

/* (a) de seleccion del mundo */
.barra-lateral .navegacion a {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  background-color: rgb(121, 172, 250);
  border-radius: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.barra-lateral .navegacion a:hover {
  background-color: rgba(201, 199, 199, 0.842);
}

.barra-lateral .navegacion i {
  min-width: 50px;
  font-size: 20px;
  padding-left: 15px;
}

.linea {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0px;
  margin-top: 330px;
}

/* CONTENIDO DE LA PAGINA */
.contenedor_contenido {
  width: calc(100% - 250px);
  height: 100%;
  /*  Movimiento */
  margin-left: 250px;
  transition: margin-left 0.6s ease, width 0.6s ease;
  background-color: rgb(255, 255, 255);
}

/* NUEVA  (.min-contenido) para el margin del contenido*/
.contenedor_contenido.min-contenido {
  width: calc(100% - 80px);
  margin-left: 80px;
}

/* NUEVA (.min-barra) para el grid de la barra */
.barra_usuario.min-barra {
  width: calc(100% - 80px);
}

/* BARRA DE ARRIBA */
.barra_usuario {
  width: calc(100% - 250px);
  height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: width 0.6s ease;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  place-items: center;
}

/* Logo del sena */
.logo_sena {
  width: 45px;
  height: 45px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-image: url(/img/logo-sena.png);
  background-size: cover;
  border-radius: 100%;
  margin-left: 5px;
}

/* Nombre usuario */
.contenedor_nombre > p {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

/* Container del nombre */
.contenedor_nombre {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Contenedor de la toto del usuario */
.foto_usuario {
  width: 45px;
  height: 45px;
  background-color: rgb(127, 197, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-image: url(../img/foto-perfil1.jpg);
  background-size: cover;
  border-radius: 100%;
  margin-right: 5px;
  cursor: pointer;
}

/* NUEVA  (.apareceInicial) */
.eleccion_usuario2.apareceInicial {
  display: flex;
}

/* CONTENIDO DIVERSO */
.contenido {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 70px;
  overflow-y: auto;
}

/* CONTENEDOR DE LOS BOTONES */
.navbuttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  padding: 10px;

  margin-bottom: 10px;
}

.icon-btn {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.btn-edit,
.btn-add {
  width: 150px;
  height: 50px;
  border: none;
  /* background-color: blue; */
  border-radius: 5px;
  padding: 5px;
  margin: 5px;

  color: rgb(255, 255, 255);
  font-size: 17px;
}

.btn-edit {
  background-color: rgb(68, 247, 52);
}

.btn-edit:hover {
  cursor: pointer;
  background-color: rgb(126, 126, 126);
}

.btn-add {
  background-color: orange;
}

.btn-add:hover {
  cursor: pointer;
  background-color: rgb(126, 126, 126);
}

.bxs-edit,
.bxs-add-to-queue {
  font-size: 45px;
  color: rgb(199, 199, 199);
}

/* CONTENEDOR DEL BUSCADOR */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Contenedor del buscador y el boton de busqueda */
.search-together {
  width: 60%;
  display: flex;
  justify-content: start;
}

/* Contenedor de filtro de busqueda */
.search-only {
  width: 50%;
  display: flex;
  justify-content: end;
}

/* Buscador */
.search_invenatry {
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 15px;
}

.search_invenatry:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Boton de busqueda */
.btn-search {
  min-width: 80px;
  height: 35px;
  border: 1px solid blue;
  border-radius: 5px;
  color: blue;
  font-size: 17px;
}

.btn-search:hover {
  background-color: blue;
  border: none;
  color: white;
}

/* Filtro de busqueda */
.filtroBuscar {
  width: 170px;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: white;
}

.filtroBuscar:focus {
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
  /* outline: 1px solid rgb(29, 219, 29);
    box-shadow: 0 0 5px rgb(29, 219, 29); */
}

option {
  padding: 5px;
}

/* CONTENEDOR DEL INVENTARIO LAS HERRAMIENTAS */
.inventory-container {
  width: 100%;
  height: 86%;
  background-color: rgb(247, 247, 247);
  padding: 15px;
  overflow-y: auto;
}

/* la lista de las herramientas */
.inventory-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;

  transition: all 1s ease;
}

.min-lista {
  gap: 25px;
}

/* Cada herramienta */
.card {
  width: 200px;
  height: 330px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
}

/* Contenedor de la imagen de la herramienta */
.cont-img {
  width: 100%;
  height: 170px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

img {
  width: 100%;
  height: 100%;
}

/* Contenedor del texto y boton */
.card-body {
  padding: 15px;
}

.card-title {
  width: 100%;
  height: 40px;
  font-size: 18px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 15px;
  margin-bottom: 10px;
}

.cont-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  padding: 8px 15px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background-color: #88c1ff;
  cursor: pointer;
}

/* CARRITO Circulo*/
.carrito{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: black;
  
  text-align: center;

  color: white;
  font-size: 40px;

  position:absolute;
  right: 30px;
  bottom: 30px;

}

.carrito:hover{
  cursor: pointer;
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.bx-cart{
  margin-top: 9px;

}
/* Container de las herramientas a pedir */
.container_carrito{
  width: 370px;
  height: 350px;
  background-color: #007bff;
  border-radius: 5px;

  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
}
/* Parte de arriba del carrito  */
.header{
  padding: 12px;
  background-color: rgb(121, 172, 250);
  border-bottom: 1px solid rgb(253, 253, 253);
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header i{
  font-size: 20px;
  color: white;
}
.header i:hover{
  color: blue;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Parte del medio del carrito */
.body{
  width: 100%;
  height: 70%;
  background-color: rgb(121, 172, 250);
  border-bottom: 1px solid rgb(255, 255, 255);
  overflow-y: auto;
}
.carrito_herramienta{
  padding: 10px;
  display: grid;
  grid-template-columns: 8% 30% 45% 15%;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.carrito_herramienta i{
  font-size: 20px;
  margin: 5px;
}
.carrito_herramienta i:hover{
  cursor: pointer;
  color: blue;
}
/* Imagen de la herramienta */
.tool_img{
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 5px;
}
/* Nombre de la herramienta */
.text_nom{
  text-align: start;
  margin: 5px;
  font-size: 18px;
}
/* Numero de cantidad */
.number{
  margin: 10px;
}


/* Parte de abajo del boton */
.footer{
  padding: 18px;
  background-color: rgb(121, 172, 250);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: end;
}

.btn_solicitar{
  width: 60%;
  height: 30px;
  background-color: blue;
  border-radius: 5px;
  border: none;

  color: white;
  font-size: 18px;
}
.btn_solicitar:hover{
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: gray;
}


/* RESPONSIVE */
@media screen and (width<=800px) {
  .bxs-edit,
  .bxs-add-to-queue {
    display: none;
  }

  /* CONTENEDOR DEL BUSCADOR */

  /* Buscador */
  .search_invenatry {
    width: 150px;
    margin-right: 10px;
  }

  /* Boton de busqueda */
  .btn-search {
    min-width: 70px;
  }

  /* Filtro de busqueda */
  .filtroBuscar {
    width: 110px;
  }

  /* CONTENEDOR DEL INVENTARIO LAS HERRAMIENTAS */
  .inventory-container {
    padding: 10px;
  }

  /* la lista de las herramientas */
  .inventory-list {
    gap: 10px;
  }

  /* Cada herramienta */
  .card {
    width: 190px;
    height: 330px;
    margin: 5px;
  }
}

@media screen and (width<=548px) {
  /* La barra desaparece cuando este en este tamaño*/
  .barra-lateral {
    position: fixed;
    left: -250px;
  }

  /* NUEVA; Que vuelva a aparecer la barra lateral cuando se le de clic, 
    entonces en javascript se le añade esto a la barra lateral*/
  .max-barra-lateral {
    left: 0;
  }

  /* El menu aparece, porque estan dispay: none; */
  .menu {
    display: flex;
  }

  /* USUARIO FOTO RESPONSIVE */
  .foto_usuario2 {
    display: flex;
  }

  /* Eliminar el seleccion de la normal  */
  /* .eleccion_usuario2 {
        display: none;
    } */

  /* Elimina el segundo icono */
  .menu i:nth-child(2) {
    display: none;
  }

  /* Como esta responsive margin-left 0px */
  .contenedor_contenido {
    width: 100%;
    margin-left: 0px;
  }

  /* NUEVA (.min-contenido) Como esta responsive margin-left 0px, como para cuando se vuelva pequeño*/
  .contenedor_contenido.min-contenido {
    margin-left: 0px;
  }

  /* Bara de arriba (usuario) desaparece */
  .barra_usuario {
    display: none;
  }

  /* NUEVA (.aparece) Para cuqando de le a la imagen de la foto de perfil de suario aparezca y solo aqui en el responsive */
  .eleccion_usuario.aparece {
    display: flex;
  }

  /* CONTENIDO DIVERSO */
  .contenido {
    padding: 20px;
    padding-top: 20px;
    padding-right: 40px;
  }

  /* CONTENEDOR DEL BUSCADOR */

  /* Buscador */
  .search_invenatry {
    width: 180px;
    margin-right: 10px;
  }

  /* Boton de busqueda */
  .btn-search {
    min-width: 70px;
  }

  /* Filtro de busqueda */
  .filtroBuscar {
    width: 130px;
  }

  /* CONTENEDOR DEL INVENTARIO LAS HERRAMIENTAS */
  .inventory-container {
    padding: 10px;
  }

  /* la lista de las herramientas */
  .inventory-list {
    gap: 5px;
  }

  /* Cada herramienta */
  .card {
    width: 180px;
    height: 340px;
    margin: 5px;
  }
}

@media screen and (height<=590px) {
  .linea {
    margin-top: 50px;
  }
}
