<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/dashAdmin.css">
</head>

<body>

    <%- include('../partials/partials.menu.head.ejs') %>


        <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

            <img class="fondoImg" src="../img/iconoFondo.png" alt="">


        </div><!-- Cierre del Contenedor contenido-->

        </div> <!-- Cierre de lado derecho -->


        </div> <!-- Cierre del contenedor -->

        <script src="../js/dashAdmin.js"></script>

</body>

</html>