<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/transferringResnonsibilities.css">
</head>

<body>

    <%- include('../partials/partials.menu.head.ejs') %>

        <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

            <div class="navbar"> <!-- Contenedor del Buscador y filtro -->

                <div class="search-together">
                    <input class="search_invenatry" id="search_invenatry" type="search" placeholder="Search">
                    <!-- <button class="btn-search" type="submit">Buscar</button> -->
                </div>

            </div><!-- Cierre del buscador y filtro -->

            <div class="contenedor_acordeon">
                <nav class="acordeon">
                    <ul>
                        <!-- <li><a href="#">Servicio</a></li> -->
    
                        <li class="opcion"> <a href="#"><b>Responsable:</b> Tatiana <br><br> <b>Fichas:</b> 1233, 4455 <span class="box"> <button class="btn_changed" id="btn_changed">Cambiar</button> <i class='icono bx bx-chevron-down'> </i> </span> </a>
                            <ul class="submenu">
                                <li><a href="#">Herramienta: Tiejras (23)</a></li>
                                <li><a href="#">producto 2</a></li>
                                <li><a href="#">producto 3</a></li>
                            </ul>
                        </li>
    
                        <li class="opcion"> <a href="#"><b>Responsable:</b> Tatiana <br><br> <b>Fichas:</b> 1233, 4455 <span class="box"> <button class="btn_changed" id="btn_changed">Cambiar</button> <i class='icono bx bx-chevron-down'> </i> </span> </a>
                            <ul class="submenu">
                                <li><a href="#">Herramienta: Tiejras (23)</a></li>
                                <li><a href="#">producto 2</a></li>
                                <li><a href="#">producto 3</a></li>
                            </ul>
                        </li>
    
                        <li class="opcion"> <a href="#"><b>Responsable:</b> Tatiana <br><br> <b>Fichas:</b> 1233, 4455 <span class="box"> <button class="btn_changed" id="btn_changed">Cambiar</button> <i class='icono bx bx-chevron-down'> </i> </span> </a>
                            <ul class="submenu">
                                <li><a href="#">Herramienta: Tiejras (23)</a></li>
                                <li><a href="#">producto 2</a></li>
                                <li><a href="#">producto 3</a></li>
                            </ul>
                        </li>
    
                        <li class="opcion"> <a href="#"><b>Responsable:</b> Tatiana <br><br> <b>Fichas:</b> 1233, 4455 <span class="box"> <button class="btn_changed" id="btn_changed">Cambiar</button> <i class='icono bx bx-chevron-down'> </i> </span> </a>
                            <ul class="submenu">
                                <li><a href="#">Herramienta: Tiejras (23)</a></li>
                                <li><a href="#">producto 2</a></li>
                                <li><a href="#">producto 3</a></li>
                            </ul>
                        </li>
    
                        <li class="opcion"> <a href="#"><b>Responsable:</b> Tatiana <br><br> <b>Fichas:</b> 1233, 4455 <span class="box"> <button class="btn_changed" id="btn_changed">Cambiar</button> <i class='icono bx bx-chevron-down'> </i> </span> </a>
                            <ul class="submenu">
                                <li><a href="#">Herramienta: Tiejras (23)</a></li>
                                <li><a href="#">producto 2</a></li>
                                <li><a href="#">producto 3</a></li>
                            </ul>
                        </li>
    
    
                    </ul>
    
                </nav>

            </div>


        </div><!-- Cierre del Contenedor contenido-->

        </div> <!-- Cierre de lado derecho -->


        </div> <!-- Cierre del contenedor -->


        <script src="../js/transferringResnonsibilities.js"></script>

</body>

</html>