<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/showOrderAdmin.css">
</head>

<body>

    <%- include('../partials/partials.menu.head.ejs') %>

        <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

            <div class="inventory-container"> <!-- contenedor del inventario -->

                <div class="header">

                    <button class="btn-cerrar-salir" onclick="salir();">
                        <i class='bx bx-exit' title="Salir Editar Perfil"></i>
                    </button>

                    <div class="title">
                        <h1>Informe de Solicitud de Herramientas</h1>
                    </div>
    
                    <div class="contenedor_inputs quienEnvia">
                        <span>Quien envia:</span>
                        <input type="text" class="input" placeholder="Nombres" id="email" readonly>
                    </div>
    
                    <div class="contenedor_inputs">
                        <span>Ficha:</span>
                        <input type="text" class="input" placeholder="121212" id="ficha" readonly>
                    </div>
    
                    <div class="contenedor_inputs large">
                        <span>La fecha en la que los reclama:</span>
                        <input type="text" class="input" placeholder="Fecha" id="fecha" readonly>
                    </div>
    
                </div>
    
                <div class="body">
                    <div class="caja_titulos">
    
                        <p>#</p>
    
                        <p>Nombre de la Herramienta</p>
    
                        <p>Imagen</p>
    
                        <p>Cantidad</p>
    
                    </div>

                    <div id="data">

                         <!-- <div class="caja_herramienta">
                        
                        <p>1</p>
                        <div class="cont_nombre">
                            <p>Tijeras</p>
                        </div>
                        <div class="cont_img">
                            <div class="foto"> </div>
                        </div>
                        <div class="cont_numero">
                            <p>24</p>
                        </div>
    
                    </div> -->

                    </div>
                    
    
                </div>
    
                <div class="footer">
                    <div class="caja1" id="caja1">
                        <button class="btn entregado">Entregar</button>
                    </div>

                    <div class="caja2" id="caja2">
                        <button class="btn rechazar">Rechazar</button>
                        <button class="btn aceptar">Aceptar</button>
                    </div>

                    <!-- <div class="caja3">
                        <p>Este pedido ha sido entregado EXITOSAMANTE</p>
                    </div> -->
                </div>
    
    
    
            </div><!-- Cierre del contenedor del inevnatrio -->
    

        </div><!-- Cierre del Contenedor contenido-->

        </div> <!-- Cierre de lado derecho -->


        </div> <!-- Cierre del contenedor -->


        <script src="../js/showOrderAdmin.js"></script>

</body>

</html>