<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/fichasAdmin.css">
</head>

<body>

    <%- include('../partials/partials.menu.head.ejs') %>

            <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

                <div class="navbuttons"> <!-- Contenedor de los botones de acciones del inventario -->
                    <span class="icon-btn">
                        <i class='bx bx-group'></i>
                        <button class="btn-change">Agregar Nueva Ficha</button>
                    </span>
                </div> <!-- Cierre del contenedor de los botones del inevnatrio -->


                <div class="navbar"> <!-- Contenedor del Buscador y filtro -->

                    <div class="search-together">
                        <input class="search_invenatry" id="search_invenatry" type="search" placeholder="Search">
                        <!-- <button class="btn-search" type="submit">Buscar</button> -->
                    </div>

                </div><!-- Cierre del buscador y filtro -->

                <div class="container_tabla">


                    <table class="table"> <!-- TABLA -->
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Numero Ficha</th>
                                <th scope="col">Cantidad de Aprendices</th>
                                <th scope="col">Nivel de Formacion</th>
                                <th scope="col">Programa de Formacion</th>
                                <th scope="col">Ambiente</th>
                                <th scope="col">Accciones</th>
                            </tr>
                        </thead>
                        <tbody id="data">
                            

                        </tbody>

                    </table> <!-- CIERRE DE LA TABLA -->

                </div>



            </div><!-- Cierre del Contenedor contenido-->



        </div> <!-- Cierre de lado derecho -->

    </div> <!-- Cierre del contenedor -->


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/fichasAdmin.js"></script>

</body>

</html>