<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Inventary</title>
    <link rel="icon" href="img/logo-sena.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/inventoryUser.css">
</head>

<body>


    <%- include('../partials/partials.menu.user.ejs') %>

    <div class="contenido"> <!-- Contenedor de TODO el contenido de la Barra lateral -->

        <div class="navbar"> <!-- Contenedor del Buscador y filtro -->
            <div class="search-together">
                <input class="search_invenatry" id="search_invenatry" type="search" placeholder="Search">
                <!-- <button class="btn-search" type="submit">Buscar</button> -->
            </div>
            <!-- <div class="search-only">
                <select class="filtroBuscar" name="" id="">
                    <option value="" selected>Filtro</option>
                    <option value="">Disponibles</option>
                    <option value="">No Disponibles</option>
                </select>
            </div> -->
        </div> <!-- Cierre del buscador y filtro -->

        <div class="inventory-container"> <!-- contenedor del inventario -->

            <ul class="inventory-list" id="data">

                <!-- <li>
                    <div class="card">
                        <div class="cont-img">
                            <img src="../img/prensatelas_para_cremallera.webp" alt="">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Prensatelas Para Cremallera</h5>
                            <p class="card-text">Some quick example text to build on the card title.</p>
                            <div class="cont-btn">
                                <a href="./" class="btn">Ver dettales</a>
                            </div>
                        </div>
                    </div>
                </li> -->
                

            </ul>

        </div><!-- Cierre del contenedor del inevnatrio -->

        
         <div class="carrito" id="carrito"> <!-- CARRITO -->
            <i class='bx bx-cart'></i>
         </div> <!-- Cierre de CARRITO -->

       
        <div class="container_carrito" id="container_carrito">  <!-- CONTAINER CARRITO HERRAMIENTA -->
            <div class="header">

                <i class='bx bxs-chevron-down' id="icono_cerrar"></i>
                <i class='bx bx-x' id="icono_eliminar"></i>

            </div>
            <div class="body" id="cart">


            </div>
            <div class="footer">
                <button class="btn_solicitar" id="btn_solicitar"">Solicitar Herramientas</button>
            </div>
        </div> <!-- Cierre CONTAINER CARRITO HERRAMIENTA -->


    </div><!-- Cierre del Contenedor contenido-->

    </div> <!-- Cierre de lado derecho -->


    </div> <!-- Cierre del contenedor -->





    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/inventoryUser.js"></script>

</body>

</html>